/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 100%;
  }
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed lightgray;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 5%;
  }
}
.navigation .navH1 {
  margin-left: 4%;
}
@media (max-width: 500px) {
  .navigation .navH1 {
    margin-left: 35%;
  }
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  margin: 1% 7% 0 0;
  padding-bottom: 1%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.navigation nav:hover {
  opacity: 0;
}
.navigation nav a {
  padding-left: 8%;
  font-size: 1.75rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
@media (max-width: 500px) {
  .navigation nav a {
    margin: 0 16%;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home header {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.home header .headerImg {
  margin: 0 0 3% 0;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, transparent), to(rgba(255, 255, 255, 0.3)));
}
.home header .headerH1 {
  margin-bottom: 5%;
}
.home header p {
  padding-bottom: 2.5%;
  border-bottom: 2px dashed lightgray;
}
.home .content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5% 0 2.5%;
}
@media (max-width: 500px) {
  .home .content-section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  display: flex;
  padding: 30px 2.5%;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    width: 100%;
  }
}
.home .content-destination {
  width: 75%;
  margin: 5% 0 5% 13%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
    margin-left: 0;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  background: BADA55;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin: 0 0 30px 3%;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 85%;
  }
}
.home .content-pick .btn {
  border: 2px solid #17A2B8;
  background: #17A2B8;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 5% 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: BADA55;
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
@media (max-width: 500px) {
  .home .content-pick .btn {
    width: 100%;
    padding: 2.5% 10%;
  }
}
.home .form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid slategray;
  padding: 5% 0;
  background: BADA55;
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.home form {
  font-size: 2rem;
}
.home form select {
  font-size: 2rem;
}
.home form textarea {
  font-size: 2rem;
  margin-top: 5%;
}
.home form button {
  width: 100%;
  padding: 5% 0;
  font-size: 2.5rem;
  background: slategray;
  text-shadow: 1px 2px lightgray;
}
.home form button:hover {
  background: slateblue;
}
