// Mixins in here

.buttonMixin (@radius, @size) {
    border: 2px solid @button-bg;
    background: @button-bg;
    border-radius: @radius;
    color: @main-bg;
    font-size: @size;
    font-weight: bold;
    padding: 5% 10%;
}